* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    position: sticky;
    background-color: #fff;
    top: 0;
}

.header_left {
    display: flex;
    align-items: center !important;
}

.header_left h1 {
    font-size: 40px;
    color: #495567;

}


.header_left ul {
    display: flex;
    align-items: center !important;
}

.header_left ul li {
    list-style: none;
    margin: 15px 5px 0 5px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    font-family: Space Mono;
}

.header_left ul li a {
    text-decoration: none;
}

.header_right button {
    padding: 10px 25px;
    background-color: #FCB72B;
    border: none;
    color: #fff;
}

/*  main qismi boshlandi   */

.main_scooter_img {
    background-image: url("./images/Bitmap.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    padding: 152px 0;
    
    /* padding: 150px 100px 30px; */

}

.main-scooter__title {
    width: 500px;
    margin-bottom: 40px;
}

.main-infos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line1 {
    width: 250px;
}

.line2 {
    padding-top: 120px;
    width: 446px;

}

.main-scooter__text {
    width: 400px;
    margin: 0 10px;
}

.main-btn {
    background-color: #FCB72B;
    border: none;
    padding: 10px 25px;
    margin-left: 250px;

}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.card h3 {
    margin: 20px 0 20px 0;
}

.card {
    width: 350px;
    border: none;
}

.card img {
    width: 96px;
    height: 96px;
}

.list {
    list-style: none;
    padding-left: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.infos {
    width: 445px;
}

.infos-title {
    color: #495567;
    font-family: "Space Mono" sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.143px;
    margin-bottom: 24px;
}

.infos-text {
    color: #939CAA;
    font-family: 'Lexend Deca';
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 40px;
}

.infos-btn {
    background: #FCB72B;
    padding: 14px 43px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Space Mono;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 166.667% */
}

.list-item_img2 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.footer-top__back {
    background-image: url("./images/footerback.png");
    padding: 102px 0;

}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-top__title {
    width: 415px;
    color: #FFF;
    font-family: 'Space Mono';
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.143px;
    margin-bottom: 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 32px;
}

.footer-bottom__title {
    margin-right: 59px;
    fill: #FFF;
}

.footer-bottom__left {
    display: flex;
    align-items: center;
}

.footer-bottom__list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.footer-nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 32px;
    color: #939CAA;
    font-family: Space Mono;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 166.667% */
}

.footer-bottom__icons i {
    font-size: 25px;
    margin-right: 15px;
    color: #FCB72B;
}


@media only screen and (max-width:1117px) {
    .line2 {
        display: none;
    }
    .cardd{
        flex-wrap: wrap;
        text-align: center;
      
    }
    .main_scooter_img{
        flex-wrap: wrap;
        text-align: center;
    }

    .main_scooter_img{
        text-align: center;
        background-attachment: fixed;
        
    }





    .main_scooter_img button{
        text-align: center;
        margin: 0 auto;
    }


}

@media only screen and (max-width:991px) {
    .list-item_img2 {
        width: 300px;
        height: 300px;
    }

}

@media only screen and (max-width:768px) {

    .main_scooter_img {
        padding-top: 132px;
    }

    .main-scooter__title {
        margin: 0 auto 24px;
        color: #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -2.5px;
    }

    .line1 {
        display: none;
        margin: 0 auto;
    }

    .main-scooter__text{
        width: 573px;
        text-align: center;
        margin-bottom: 24px;
    }

    .line2{
        width: 250px;
        display: inline-block;
        position: absolute;
        left: 0px;
        
    }

    .list list_desktop

    
}

.list_mobile{
    display: none;
}
.list_mobile li {
    list-style: none;
}
.list_mobile .infos{
    margin: 0 auto;
}

@media(max-width: 900px){
    .cards{
        display: block;
        margin: 0 auto;
        flex-wrap: wrap !important;
    }
    .card{
        margin: 0 auto;

    }
    .card img{
        margin: 0 auto;
    }

    .list-item{
        flex-wrap: wrap;
        text-align: center;
        margin: 0 auto;
    }

    .list-item img{
        text-align: center;
        margin: 0 auto;
    }

    

    .list_desktop{
        display: none;
    }
    .list_mobile{
        display: block;
    }

    .list-item__infos{
        margin: 0 auto;
        text-align: center;
    }

    .list-item__infos img{
        text-align: center;
        margin: 0 auto;
    }


}